
/* General Setting */

*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

/* Utilities */

a{
  text-decoration: none;
  color: white;
}

/* Deskot only 1500px */

/* Header */


.app-header{
 background-image: url("../img/header-image-homepage.jpg");
 max-width: 100%;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: top;
 height: 670px;
}


.header-navbar{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-top: 30px;
 width: 1400px;
 padding-left: 20px;
 flex-wrap: wrap;
}

.logo-header{
 height: 50px;
 font-size: 12px;
 margin-right: 100px;
}

.list-contact{
  display: flex;
  list-style: none;
  text-transform: uppercase;
  color: #ffffff;
}

.home-style{
  color:
}




.contact{
  filter: opacity(.7);
  padding-left: 30px;
}
