
/* General Setting */

*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body{
 font-family: 'Lato', sans-serif;
}

/* Utilities */


/* typo */
a{
  text-decoration: none;
  color: white;
}


/* laoyut */

.padding-top-25px{
 padding-top: 25px;
}

.padding-top-15px{
 padding-top: 15px;
}

/* Deskot only 1500px */

/* HEADER */

/* section-navbar */

.app-header{
 background-image: url("../img/header-image-homepage.jpg");
 max-width: 100%;
 background-repeat: no-repeat;
 background-size:  cover;
 background-position: top;
 height: 660px;
 object-fit: cover;
 object-position: top;
}


.header-navbar{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-top: 30px;
 padding-left: 20px;
 flex-wrap: wrap;
 font-size: 10px;
 padding-right: 50px;
}

.logo-header{
 font-size: 12px;
 margin-left: 30px;
 height: 35px;
}



.list-contact{
 display: flex;
 list-style: none;
 text-transform: uppercase;
 color: #ffffff;
}

.Home-style{
 color: #39afbb;
}


.contact{
 padding-left: 30px;
 font-weight: 200;
}

.btn{
 background-color: #39afbb;
 padding: 10px 15px;
 filter: opacity(.9);
}

.caring-title{
 color: blue;
}
/* Section caring */



.description-health{
 margin-left: 350px;
 margin-top: 140px;
 display: flex;
 flex-direction: column
}

.title{
 color: white;
 font-size: 50px;
 display: flex;
 margin-bottom: 20px;
 font-weight: 100;
}

.life{
 color: #39afbb;
 padding-left: 20px;
}

.description-caring{
 color: white;
 filter: opacity(.9);
 width: 525px;
 font-size: 16px;
 line-height: 1.5;
}

.btn-learn{
 background-color: #39afbb;
 max-width: 150px;
 padding: 10px 10px;
 text-align: center;
 color: white;
 filter: opacity(.9);
 margin-top: 40px;
}


/* MAIN */


/* section Avada health */

.text-avada{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.welcome{
 color: #23191691;
 padding-top: 80px;
 filter: opacity(.8);
 padding-bottom: 20px;
 font-weight: 100;
}

.description-welcome{
 color:  #1d0e0ecf;
 filter: opacity(.7);
 width: 450px;
 line-height: 2.1;
 text-align: center;
}

/* section methods */

.container-methods{
 display: flex;
 justify-content: center;
 list-style: none;
 align-items: center;
 padding-left: 250px;
 padding-right: 250px;
 margin: 0 auto;
 text-align: center;
 margin-top: 90px;
}

.method{
 flex-basis: calc(100% / 4)
}

.methods-img{
  margin-bottom: 10px;
}

.methods-style{
 color: gray;
 filter: opacity(.7);
 margin-bottom: 20px;
 font-size: 12px;
}




.methods-description{
 color: gray;
 filter: opacity(.6);
 line-height: 1.9;
 font-size: 14px;
}
/* section doctors */

.doctors{
 background-color: #80808017;
 margin-top: 100px;
 height: 1100px;
}


.meeting{
 display: flex;
 justify-content: center;
 align-items: center;
 padding-top: 90px;
 flex-direction: column;
}

.title-meeting{
 color:  #41474fba;;
 padding-top: 10px;
 font-size: 30px;
 font-weight: 400;
}

.line{
 border: 1px solid #80808061;
 width: 160px;
 margin-top: 20px;
}

.meeting-description{
 color: #191616;
 filter: opacity(.6);
 line-height: 2.1;
 margin-top: 20px;
 text-align: center;
 width: 630px;
 margin-bottom: 40px;
}


.list-doctors{
 display: flex;
 justify-content: center;
 list-style: none;
 margin: 0 auto;
 width: 850px;
}

.doctor{
 flex-basis: calc(100% / 3 );
 background-color: white;
 margin-right:  40px;
 height: 600px;
}

.doctor-img{
 width: 100%;
 height: 260px;
}

.title-doctor{
 color: #5741416b;
 text-align: left;
 padding-left: 30px;
 padding-top: 30px;
 padding-bottom: 15px;
}

.small-title-doctor{
 color:  #57414142;
 text-align: left;
 padding-left: 30px;
 padding-bottom: 30px;
}

.description-doctor{
 color: #57414154;
 text-align: left;
 padding-left: 30px;
 line-height: 2.5;
 font-size: 15px;
 padding-right: 20px;
}

i.fab.fa-facebook-f{
 margin-left: 30px;
 font-size: 10px;
 padding: 6px 9px;
 color: white;
 background-color: #0000ffbf;
 margin-top: 40px;
}

i.fab.fa-twitter{
 margin-left: 5px;
 font-size: 10px;
 padding: 6px 9px;
 color: white;
 background-color: #3fd5ee;
 margin-top: 40px;
}

i.fab.fa-instagram{
 margin-left: 5px;
 font-size: 10px;
 padding: 6px 9px;
 color: white;
 background-color: blue;
 filter: opacity(.8);
 margin-top: 40px;
}

/* sector health */

.health-service{
 background-color: white;
 height: 1000px;
}

.health-info{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 padding-top: 90px;
}

.title-health{
 color: #41474fba;
 padding-top: 10px;
 font-size: 30px;
 font-weight: 400;
}

.health-description{
 color: #191616;
 filter: opacity(.6);
 line-height: 2.1;
 margin-top: 20px;
 text-align: center;
 width: 630px;
}



.list-center{
 display: flex;
 justify-content: center;
 list-style: none;
 align-items: center;
 margin: 0 auto;
 margin-top: 0px;
 text-align: center;
 margin-top: 90px;
 padding-left: 240px;
 padding-right: 220px;
}

.center{
 flex-basis: 300px;
 align-self: center;
}

.container-img{
 width: 263px;
}

.img-center{
 margin-bottom: 10px;
}

.title-center{
 color: gray;
 filter: opacity(.7);
 margin-bottom: 20px;
 font-size: 16px;
 width: 263px;
}

.center-description{
 color: gray;
 filter: opacity(.6);
 line-height: 1.9;
 font-size: 14px;
 width: 263px;
}

/* secion vision */

.vision{
 background-image: url("../img/paralax-bg-tour-facilities.jpg");
 max-width: 100%;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center ;
 height: 540px;
 margin-top: 50px;
}

.info-vision{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 padding-top: 100px;
}

.img-vision{
 height: 50px;
}

.title-vision{
 color: white;
 padding-top: 10px;
 font-size: 26px;
 filter: opacity(.8);
 font-weight: 300;
}

.line2{
 border: 1px solid  #ffffff96;
 width: 170px;
 margin-top: 20px;
}

.description-vision{
 color: white;
 line-height: 2.5;
 margin-top: 20px;
 text-align: center;
 width: 500px;
 filter: opacity(.7);
 margin-bottom: 25px;
}

.play{
 height: 50px;
}


/* section caring */

.list-care{
 display: flex;
 justify-content: center;
 list-style: none;
 margin: 0 auto;
 align-items: center;
 text-align: center;
}

.care{
 flex-basis: calc(100% / 3 );
 background-color:  #40c8e7;
 height: 270px;
 padding-top: 50px;
 color: white;
}

.title-care{
 font-weight: 700;
 color: white;
}

.care-second{
 flex-basis: calc(100% / 3 );
 background-color: #1caeda;
 height: 270px;
 padding-top: 50px;
 color: white;
}

.care-third{
 flex-basis: calc(100% / 3 );
 background-color: #1f7a96;
 height: 270px;
 padding-top: 50px;
 color: white;
}

.weaver{
 padding-top: 20px;
}

.description-weaver{
 padding-left: 25px;
 padding-right: 25px;
 color: white;
 filter: opacity(.8);
 line-height: 2.3;
 font-size: 14px;
 margin-bottom: 20px;
}

.btn-weaver{
 border: 1px solid white;
 padding: 10px 20px;
 color: white;
 text-transform: uppercase;
 font-size: 12px;
}

.more-style{
 margin-left: 5px;
 display: inline-block;
}

/* section appointment */

.appointment{
 background-image: url("../img/make-an-appointment.jpg");
 max-width: 100%;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center ;
 height: 670px;
}

.info-appointment{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 padding-top: 60px;
}

.title-appointment{
 color: white;
 padding-top: 10px;
 font-size: 26px;
 filter: opacity(.7);
 font-weight: 300;
}

.description-appointment{
 color: white;
 line-height: 2.5;
 margin-top: 20px;
 text-align: center;
 width: 630px;
 filter: opacity(.7);
 margin-bottom: 25px;
}

.container-input-first{
 display: flex;
 width: 630px;
 justify-content: center;
 align-items: center;
 margin: 0 auto;
}

.input-name{
 margin-right: 15px;
 flex-basis: calc(100% / 2);
 background-color: inherit;
 outline: 0;
 border: 1px solid #ffffff70;
 color: #ffffff70;
 padding: 10px 15px;
}

.input-surname{
 flex-basis: calc(100% / 2);
 background-color: inherit;
 outline: 0;
 border: 1px solid #ffffff70;
 color: #ffffff70;
 padding: 10px 15px;
}

.input-phone{
 margin-right: 15px;
 flex-basis: calc(100% / 2);
 background-color: inherit;
 outline: 0;
 border: 1px solid #ffffff70;
 color: #ffffff70;
 padding: 10px 15px;
}

.input-icons i {
 position: absolute;
}

.input-icons {
  flex-basis: calc(100% / 2);
}

.icon {
 padding: 10px;
 min-width: 40px;
 color:  #ffffffa1;
}


.input-email{
 background-color: inherit;
 outline: 0;
 border: 1px solid #ffffff70;
 color: #ffffff70;
 padding: 10px 35px;
 width: 307px;
}

.input-text{
  flex-basis: calc(100% / 1);
  background-color: inherit;
  outline: 0;
  border: 1px solid #ffffff70;
  color: #ffffff70;
  padding-top: 15px;
  padding-left: 15px;
  height: 100px;
  resize: none;
}

.btn-input{
 flex-basis: calc(100% / 1);
 padding: 10px 20px;
 background-color: #22b9f4de;;
 text-transform: uppercase;
 text-align: center;
 color: #ffffff9e;
 font-weight: 700;
 font-size: 14px;
 border: none;
 cursor: pointer;
}

/* FOOTER */

/* section brand */


.brands{
  background-image: url("../img/rgb-gradient-bar-for-logo-carrasel.jpg");
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
  height: 200px;
}


.list-brands{
 display: flex;
 list-style: none;
}

.brand-first{
 flex-basis: 290px;
}

.brand-second{
 flex-basis: 150px;
 overflow: hidden;
}

.img-brand-second{
 margin: -1px 1px 100px -110px;
 height: 200px;
}

.brand-third{
 flex-basis: 200px;
 height: 250px;
}

.img-brand-third{
 height: 200px;
}

.brand-fourth{
 flex-basis: 200px;
}

.img-brand-fourth{
 height: 200px;
}

.brand-fith{
 flex-basis: 200px;
}

.img-brand-fith{
 height: 200px;
}

.brand-sixth{
 flex-basis: 50px;
 overflow: hidden;
}

.img-brand-sixth{
 margin: -1px 1px 100px -40px;
 height: 200px;
}

/* section footer */

.list-footer{
 display: flex;
 margin: 0 auto;
 list-style: none;
}

.container-logo{
  display: flex;
  justify-content: left;
  padding-left: 50px;
  margin-bottom: 30px;
  margin-top: 60px;
}



.logo-footer{
 height: 40px;
 width: 200px;
}


.lists{
 flex-basis: 600px;
}

.lists-second{
 padding-left: 30px;
 flex-basis: 400px;
}

.description-iists{
 padding-left: 50px;
 text-align: left;
 line-height: 2.1;
 font-size: 14px;
 color: gray;
 filter: opacity(.6);
 width: 600px;
}

.line-information{
 border: 1px solid  #807f7f54;
 margin-left: 50px;
 margin-top: 20px;
}

.title-information{
 text-transform: uppercase;
 font-size: 16px;
 color: #00000070;
 padding-left: 50px;
 margin-top: 10px;
}

span{
 padding-left: 3px;
}

.links{
 padding-left: 20px;
 list-style: none;
}

.copy{
 font-size: 12px;
 color: gray;
 filter: opacity(.6);
 padding-left: 30px;
 margin-top: 100px;
}

.cop{
 padding-left: 5px;
 padding-right: 5px;
}

.theme{
 color:#3b2b2b;
}

i.fab.fa-youtube{
 background-color: red;
 color: white;
 font-size: 10px;
 padding: 6px 9px;
}


.title-contact{
 font-size: 14px;
 color:  #403434;
 filter: opacity(.6);
 text-transform: uppercase;
 margin-bottom: 20px;
 margin-top: 60px;
 font-weight: 400;
}

.line-contact{
 width: 30px;
 border: 1px solid green;
}

.sub-list{
 margin-top: 40px;
}


.sub-lists{
 display: flex;
 list-style: none;
}

.sub-lists i{
 color: #64bad5;
 padding-bottom: 15px;
}

.description-icon-map{
 font-size: 14px;
 color: gray;
 filter: opacity(.6);
 padding-left: 20px;
}

.description-icon-phone{
 font-size: 14px;
 color: gray;
 filter: opacity(.6);
 padding-left: 17px
}


.lists-third{
 flex-basis: 300px;
}

.tag{
 background-color: #1ca3cc;
 padding: 5px 10px;
 border-radius: 50%;
 color: white;
 margin-bottom: 10px;
}

.description-icon{
 font-size: 14px;
 padding-left: 10px;
 color: #8c6f6f;
 padding-top: 5px;
}


.btn-view{
 width: 100%;
 border: 2px solid #0009;
 padding: 15px 25px;
 text-align: center;
 text-transform: uppercase;
 color: #000000a1;
 font-size: 14px;
 margin-top: 40px;
}
