
/* General Setting */

*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

/* Utilities */

a{
  text-decoration: none;
  color: white;
}

/* Deskot only */

/* HEADER */

/* section-navbar */

.app-header{
 background-image: url("../img/header-image-homepage.jpg");
 max-width: 100%;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: top;
 height: 660px;
}


.header-navbar{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-top: 30px;
 width: 1400px;
 padding-left: 20px;
 flex-wrap: wrap;
}

.logo-header{
 height: 50px;
 font-size: 12px;
 margin-right: 100px;
}



.list-contact{
 display: flex;
 list-style: none;
 text-transform: uppercase;
 color: #ffffff;
}

.Home-style{
 color: #39afbb;
}


.contact{
 padding-left: 30px;
}

.btn{
 background-color: #39afbb;
 min-width: 150px;
 display: inline-block;
 padding: 5px 10px;
}

.caring-title{
 color: blue;
}
/* Section caring */



.description-health{
 margin-left: 350px;
 margin-top: 140px;
 display: flex;
 flex-direction: column
}

.title{
 color: white;
 font-size: 50px;
 display: flex;
 margin-bottom: 20px;
}

.life{
 color: #39afbb;
 padding-left: 20px;
}

.description-caring{
 color: white;
 filter: opacity(.7);
 width: 450px;
}

.btn-learn{
 background-color: #39afbb;
 max-width: 150px;
 padding: 10px 10px;
 text-align: center;
 color: white;
 filter: opacity(.9);
 margin-top: 40px;
}


/* MAIN */


/* section Avada health */

.text-avada{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.welcome{
 color: gray;
 padding-top: 80px;
 color: #0000008a;
 padding-top: 80px;
 filter: opacity(.7);
 padding-bottom: 20px;
}

.description-welcome{
 color: gray;
 filter: opacity(.7);
 width: 600px;
 line-height: 1.7;
}

/* section methods */

.container-methods{
 display: flex;
 justify-content: center;
 list-style: none;
 align-items: center;
 width: 1050px;
 margin: 0 auto;
 text-align: center;
 margin-top: 90px;
}

.method{
 flex-basis: calc(100% / 4)
}

.methods-img{
  margin-bottom: 10px;
}

.methods-style{
 color: gray;
 filter: opacity(.7);
 margin-bottom: 20px;
 font-size: 16px;
}




.methods-description{
 color: gray;
 filter: opacity(.6);
 line-height: 1.9;
 font-size: 14px;
}
/* section doctors */

.doctors{
 background-color: #80808017;
 margin-top: 100px;
 height: 1000px;
}


.meeting{
 display: flex;
 justify-content: center;
 align-items: center;
 padding-top: 90px;
 flex-direction: column;
}

.title-meeting{
 color: #41474f;
 padding-top: 10px;
 font-size: 30px;
}

.line{
 border: 1px solid #8080808c;;
 width: 160px;
 margin-top: 20px;
}

.meeting-description{
 color: #191616;
 filter: opacity(.6);
 line-height: 1.7;
 margin-top: 20px;
 text-align: center;
 width: 600px;
 margin-bottom: 40px;
}


.list-doctors{
 display: flex;
 justify-content: center;
 list-style: none;
 margin: 0 auto;
 width: 1050px;
}

.doctor{
 flex-basis: calc(100% / 3 );
 background-color: white;
 margin-right:  40px;
 height: 540px;
}

.doctor-img{
 width: 100%;
 height: 250px;
}

.title-doctor{
 color: #574141e6;
 text-align: left;
 padding-left: 30px;
 padding-top: 30px;
 padding-bottom: 15px;
}

.small-title-doctor{
 color: #574141ba;
 text-align: left;
 padding-left: 30px;
 padding-bottom: 30px;
}

.description-doctor{
 color: #574141c2;
 text-align: left;
 padding-left: 30px;
 line-height: 1.7;
 font-size: 15px;
}

i.fab.fa-facebook-f{
 margin-left: 30px;
 font-size: 10px;
 padding: 6px 9px;
 color: white;
 background-color: #0000ffbf;
 margin-top: 40px;
}

i.fab.fa-twitter{
 margin-left: 5px;
 font-size: 10px;
 padding: 6px 9px;
 color: white;
 background-color: #3fd5ee;
 margin-top: 40px;
}

i.fab.fa-instagram{
 margin-left: 5px;
 font-size: 10px;
 padding: 6px 9px;
 color: white;
 background-color: blue;
 filter: opacity(.8);
 margin-top: 40px;
}

/* sector health */

.health-service{
 background-color: white;
 height: 1000px;
}

.health-info{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 padding-top: 90px;
}

.title-health{
 color: #41474f;
 padding-top: 10px;
 font-size: 30px;
}

.health-description{
 color: #191616;
 filter: opacity(.6);
 line-height: 1.7;
 margin-top: 20px;
 text-align: center;
 width: 600px;
}

.list-center{
 display: flex;
 justify-content: center;
 list-style: none;
 align-items: center;
 width: 1050px;
 margin: 0 auto;
 margin-top: 0px;
 text-align: center;
 margin-top: 90px;
}

.center{
 flex-basis: calc(100% / 3);
}

.img-center{
 margin-bottom: 10px;
}

.title-center{
 color: gray;
 filter: opacity(.7);
 margin-bottom: 20px;
 font-size: 16px;
}

.center-description{
 color: gray;
 filter: opacity(.6);
 line-height: 1.9;
 font-size: 14px;
 padding-right: 10px;
 padding-left: 10px;
}
