
/* General Setting */

*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}


/* Header */


.app-header{
 background-image: url("../img/header-image-homepage.jpg");
 max-width: 100%;
 height: 660px;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: top;
}


.header-navbar{
 display: flex;
 width: 1700px;
 justify-content: space-between;
 margin: 0 auto;
 align-items: center;
 padding-top: 30px;
}

.logo-header{
 height: 50px;
 font-size: 12px;
}

.list-contact{
  display: flex;
  list-style: none;
  text-transform: uppercase;
  color: #ffffff;
}
