
/* General Setting */

*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body{
 font-family: 'Lato', sans-serif;
}

/* Utilities */


/* typo */
a{
  text-decoration: none;
  color: white;
}


/* laoyut */

.padding-top-25px{
 padding-top: 25px;
}

.padding-top-15px{
 padding-top: 15px;
}

/* Deskot only */

/* HEADER */

/* section-navbar */

.app-header{
 background-image: url("../img/header-image-homepage.jpg");
 max-width: 100%;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: top;
 height: 660px;
}


.header-navbar{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-top: 30px;
 width: 1400px;
 padding-left: 20px;
 flex-wrap: wrap;
 font-size: 10px;
}

.logo-header{
 font-size: 12px;
 margin-left: 30px;
 height: 35px;
}



.list-contact{
 display: flex;
 list-style: none;
 text-transform: uppercase;
 color: #ffffff;
}

.Home-style{
 color: #39afbb;
}


.contact{
 padding-left: 30px;
 font-weight: 200;
}

.btn{
 background-color: #39afbb;
 padding: 10px 15px;
 filter: opacity(.9);
}

.caring-title{
 color: blue;
}
/* Section caring */



.description-health{
 margin-left: 350px;
 margin-top: 140px;
 display: flex;
 flex-direction: column
}

.title{
 color: white;
 font-size: 50px;
 display: flex;
 margin-bottom: 20px;
 font-weight: 100;
}

.life{
 color: #39afbb;
 padding-left: 20px;
}

.description-caring{
 color: white;
 filter: opacity(.9);
 width: 525px;
 font-size: 16px;
 line-height: 1.5;
}

.btn-learn{
 background-color: #39afbb;
 max-width: 150px;
 padding: 10px 10px;
 text-align: center;
 color: white;
 filter: opacity(.9);
 margin-top: 40px;
}


/* MAIN */


/* section Avada health */

.text-avada{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.welcome{
 color: #23191691;
 padding-top: 80px;
 filter: opacity(.8);
 padding-bottom: 20px;
 font-weight: 100;
}

.description-welcome{
 color:  #1d0e0ecf;
 filter: opacity(.7);
 width: 450px;
 line-height: 2.1;
 text-align: center;
}

/* section methods */

.container-methods{
 display: flex;
 justify-content: center;
 list-style: none;
 align-items: center;
 width: 1200px;
 margin: 0 auto;
 text-align: center;
 margin-top: 90px;
}

.method{
 flex-basis: calc(100% / 4)
}

.methods-img{
  margin-bottom: 10px;
}

.methods-style{
 color: gray;
 filter: opacity(.7);
 margin-bottom: 20px;
 font-size: 20px;
}




.methods-description{
 color: gray;
 filter: opacity(.6);
 line-height: 1.9;
 font-size: 14px;
}
/* section doctors */

.doctors{
 background-color: #80808017;
 margin-top: 100px;
 height: 1000px;
}


.meeting{
 display: flex;
 justify-content: center;
 align-items: center;
 padding-top: 90px;
 flex-direction: column;
}

.title-meeting{
 color: #41474f;
 padding-top: 10px;
 font-size: 30px;
 font-weight: 100;
}

.line{
 border: 1px solid #8080808c;;
 width: 160px;
 margin-top: 20px;
}

.meeting-description{
 color: #191616;
 filter: opacity(.6);
 line-height: 2.1;
 margin-top: 20px;
 text-align: center;
 width: 630px;
 margin-bottom: 40px;
}


.list-doctors{
 display: flex;
 justify-content: center;
 list-style: none;
 margin: 0 auto;
 width: 1050px;
}

.doctor{
 flex-basis: calc(100% / 3 );
 background-color: white;
 margin-right:  40px;
 height: 540px;
}

.doctor-img{
 width: 100%;
 height: 250px;
}

.title-doctor{
 color: #574141e6;
 text-align: left;
 padding-left: 30px;
 padding-top: 30px;
 padding-bottom: 15px;
}

.small-title-doctor{
 color: #574141ba;
 text-align: left;
 padding-left: 30px;
 padding-bottom: 30px;
}

.description-doctor{
 color: #574141c2;
 text-align: left;
 padding-left: 30px;
 line-height: 1.7;
 font-size: 15px;
}

i.fab.fa-facebook-f{
 margin-left: 30px;
 font-size: 10px;
 padding: 6px 9px;
 color: white;
 background-color: #0000ffbf;
 margin-top: 40px;
}

i.fab.fa-twitter{
 margin-left: 5px;
 font-size: 10px;
 padding: 6px 9px;
 color: white;
 background-color: #3fd5ee;
 margin-top: 40px;
}

i.fab.fa-instagram{
 margin-left: 5px;
 font-size: 10px;
 padding: 6px 9px;
 color: white;
 background-color: blue;
 filter: opacity(.8);
 margin-top: 40px;
}

/* sector health */

.health-service{
 background-color: white;
 height: 1000px;
}

.health-info{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 padding-top: 90px;
}

.title-health{
 color: #41474f;
 padding-top: 10px;
 font-size: 30px;
 font-weight: 100;
}

.health-description{
 color: #191616;
 filter: opacity(.6);
 line-height: 2.1;
 margin-top: 20px;
 text-align: center;
 width: 630px;
}

.list-center{
 display: flex;
 justify-content: center;
 list-style: none;
 align-items: center;
 width: 1050px;
 margin: 0 auto;
 margin-top: 0px;
 text-align: center;
 margin-top: 90px;
}

.center{
 flex-basis: calc(100% / 3);
}

.img-center{
 margin-bottom: 10px;
}

.title-center{
 color: gray;
 filter: opacity(.7);
 margin-bottom: 20px;
 font-size: 16px;
}

.center-description{
 color: gray;
 filter: opacity(.6);
 line-height: 1.9;
 font-size: 14px;
 padding-right: 10px;
 padding-left: 10px;
}

/* secion vision */

.vision{
 background-image: url("../img/paralax-bg-tour-facilities.jpg");
 max-width: 100%;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center ;
 height: 540px;
}

.info-vision{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 padding-top: 100px;
}

.img-vision{
 height: 50px;
}

.title-vision{
 color: white;
 padding-top: 10px;
 font-size: 26px;
 filter: opacity(.8);
 font-weight: 300;
}

.line2{
 border: 1px solid white;
 width: 160px;
 margin-top: 20px;
}

.description-vision{
 color: white;
 line-height: 2.5;
 margin-top: 20px;
 text-align: center;
 width: 630px;
 filter: opacity(.7);
 margin-bottom: 25px;
}

.play{
 height: 50px;
}


/* section caring */

.list-care{
 display: flex;
 justify-content: center;
 list-style: none;
 margin: 0 auto;
 align-items: center;
 text-align: center;
}

.care{
 flex-basis: calc(100% / 3 );
 background-color:  #40c8e7;
 height: 270px;
 padding-top: 50px;
 color: white;
}

.title-care{
 font-weight: 700;
 color: white;
}

.care-second{
 flex-basis: calc(100% / 3 );
 background-color: #1caeda;
 height: 270px;
 padding-top: 50px;
 color: white;
}

.care-third{
 flex-basis: calc(100% / 3 );
 background-color: #1f7a96;
 height: 270px;
 padding-top: 50px;
 color: white;
}

.weaver{
 padding-top: 20px;
}

.description-weaver{
 padding-left: 25px;
 padding-right: 25px;
 color: white;
 filter: opacity(.8);
 line-height: 2.3;
 font-size: 14px;
 margin-bottom: 20px;
}

.btn-weaver{
 border: 1px solid white;
 padding: 10px 20px;
 color: white;
 text-transform: uppercase;
 font-size: 12px;
}

.more-style{
 margin-left: 5px;
 display: inline-block;
}

/* section appointment */

.appointment{
 background-image: url("../img/make-an-appointment.jpg");
 max-width: 100%;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center ;
 height: 700px;
}

.info-appointment{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 padding-top: 100px;
}

.title-appointment{
 color: white;
 padding-top: 10px;
 font-size: 26px;
 filter: opacity(.8);
 font-weight: 300;
}

.description-appointment{
 color: white;
 line-height: 2.5;
 margin-top: 20px;
 text-align: center;
 width: 630px;
 filter: opacity(.7);
 margin-bottom: 25px;
}

.container-input-first{
 display: flex;
 width: 630px;
 justify-content: center;
 align-items: center;
 margin: 0 auto;
}

.input-name{
 margin-right: 15px;
 flex-basis: calc(100% / 2);
 background-color: inherit;
 outline: 0;
 border: 1px solid #ffffff70;
 color: #ffffff70;
 padding: 10px 15px;
}

.input-surname{
 flex-basis: calc(100% / 2);
 background-color: inherit;
 outline: 0;
 border: 1px solid #ffffff70;
 color: #ffffff70;
 padding: 10px 15px;
}

.input-phone{
 margin-right: 15px;
 flex-basis: calc(100% / 2);
 background-color: inherit;
 outline: 0;
 border: 1px solid #ffffff70;
 color: #ffffff70;
 padding: 10px 15px;
}

.input-icons i {
 position: absolute;
}

.input-icons {
  flex-basis: calc(100% / 2);
}

.icon {
 padding: 10px;
 min-width: 40px;
 color:  #ffffffa1;
}


.input-email{
 background-color: inherit;
 outline: 0;
 border: 1px solid #ffffff70;
 color: #ffffff70;
 padding: 10px 35px;
 width: 307px;
}

.input-text{
  flex-basis: calc(100% / 1);
  background-color: inherit;
  outline: 0;
  border: 1px solid #ffffff70;
  color: #ffffff70;
  padding-top: 15px;
  padding-left: 15px;
  height: 100px;
  resize: none;
}

.btn-input{
 flex-basis: calc(100% / 1);
 padding: 5px 10px;
 background-color: #22b9f4de;;
 text-transform: uppercase;
 text-align: center;
 color: #ffffff9e;
 font-weight: 700;
 font-size: 14px;
}
